// Import GOV.UK Frontend base (settings, tools, helpers) and core (placeholders)
@import "govuk-frontend/dist/govuk/base";
@import "govuk-frontend/dist/govuk/core";

.app-prose-scope {
  // Headings
  h1 {
    @extend %govuk-heading-xl;
  }

  h2 {
    @extend %govuk-heading-l;
  }

  h3 {
    @extend %govuk-heading-m;
  }

  h4 {
    @extend %govuk-heading-s;
  }

  // Body text
  p {
    @extend %govuk-body-m;
  }

  // Bold text
  strong,
  b {
    font-weight: 700;
  }

  // Lists
  ul,
  ol {
    @extend %govuk-list;
  }

  ol {
    @extend %govuk-list--number;
  }

  ul {
    @extend %govuk-list--bullet;
  }

  // Links
  a {
    @extend %govuk-link;
  }

  // Section breaks
  hr {
    @extend %govuk-section-break;
    @extend %govuk-section-break--visible;
    @extend %govuk-section-break--xl;
  }
}
