// Import GOV.UK Frontend base (settings, tools, helpers) and core (placeholders)
@import "govuk-frontend/dist/govuk/base";
@import "govuk-frontend/dist/govuk/core";

.app-prose-scope {
  // Headings
  h1:not(.app-no-prose *) {
    @extend %govuk-heading-xl;
  }

  h2:not(.app-no-prose *) {
    @extend %govuk-heading-l;
  }

  h3:not(.app-no-prose *) {
    @extend %govuk-heading-m;
  }

  h4:not(.app-no-prose *) {
    @extend %govuk-heading-s;
  }

  // Body text
  p:not(.app-no-prose *) {
    @extend %govuk-body-m;
  }

  // Bold text
  strong:not(.app-no-prose *),
  b:not(.app-no-prose *) {
    font-weight: 700;
  }

  // Lists
  ul:not(.app-no-prose *),
  ol:not(.app-no-prose *) {
    @extend %govuk-list;
  }

  ol:not(.app-no-prose *) {
    @extend %govuk-list--number;
  }

  ul:not(.app-no-prose *) {
    @extend %govuk-list--bullet;
  }

  // Links
  a:not(.app-no-prose *) {
    @extend %govuk-link;
  }

  // Section breaks
  hr:not(.app-no-prose *) {
    @extend %govuk-section-break;
    @extend %govuk-section-break--visible;
    @extend %govuk-section-break--xl;
  }
}
